.glavni-okvir {
   padding: 2%;
}

.rezultati-form {
    position: relative;
    top: -300px;
    z-index: 5;
    height: 250px;
    width: 1500px;
    margin-bottom: 10px;
}


.container {
    position: relative;
    width:1400px;
    display: inline-block;
}

.naslov-container {
    position: sticky;
    top: 2px;
    margin-bottom: 4%;
    width:1500px;
    z-index: 2;
}

h3 {
    display: block;
    position: relative;
    font-family: arial;
    margin: auto;
    left:2%;
}

.btn-zapocni-rjesavanje {
    position: relative;
    display: inline-block;
    top:30%;
    margin-left: 2%;
}


.btn-provjera-odgovora {
    position: relative;
    display: inline-block;
    margin-left: 2%;
    top:30%;
}

.timer-container {
    position: relative;
    display: inline-block;
    top: 30%;
    font-size: 22px;
    margin-left: 65%;
    border: 3px solid black;
    border-radius: 12px;
    padding: 5px 10px 5px 10px;
    background-color: #F5FFFA;
}

.timer {
    margin: 1px;
    color: black;
}

.pitanje-font {
    color: black;
}

.odgovor {
    display: inline-block;
}

.panel {
    border-radius: 0.3rem;
    padding: 1rem 1rem 1rem 4rem;
    margin-bottom: 1rem;
    margin-left: 8%;

}

.panel2 {
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    height: 150px;
}

.panel-blue {
    border: 1px solid #0087FF;
    background-color: #F5FFFA;
    color: #08485e;
}

.panel-green {
    border: 1px solid #40916c;
    background-color: #b7e4c7;
    color: #008B8B;
}

.form-check {
    display: inline-block;
}

.image {
     position: relative;
     margin-left: 10px;
     bottom: 60px;
 }


.hidden-img {
    display: none;
}

.rezultati-form-hidden {
    display: none;
}


.box1 {
    width: 1500px;
    margin-bottom: 2%;
    border: 4px solid #00bfb6;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    color: #00bfb6;
    font-family: arial;
    font-size: 20px;
    height: 250px;
    background-color: #fcefb4;
}

.sb5:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 7px solid #fff;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    border-bottom: 7px solid transparent;
    right: -11px;
}

.pre-format-pitanje {
    font-size: 14px;
    font-family: arial;
    background-color: #fcfffd;
}

/* MODAL */
#title-modal {
    color: yellow;
    font-size: 22px;
    font-weight: bold;
}

#title-modal-isteklo-vrijeme {
    color: yellow;
    font-size: 22px;
    font-weight: bold;
}



.modal-header {
    background-color: #40916c;
}

#poruka-modal {
    color:#08485e;
}

#poruka-modal-isteklo-vrijeme {
    color:#08485e;
}

#btn-modal-provjeri-rezultate {
    /*background-color: #08485e;*/
    color: white;
}

#span1 {
    font-weight: bolder;
}

